<style>
{{  commonCSS  }}
body{ background: #ffa9a9; color:black; }
</style>


<h1 class="header">
    {{actionHeader}} Failed
</h1>

<div style="border-bottom: 1px solid #8b8989; margin-bottom: 15px;"> </div>

<br/>


